* {
  border: 1px solid pink;
}

html,
body {
  padding: 0;
  margin: 0 5px;
}

.banner {
  background-color: rgb(84, 67, 232);
  color: white;
  margin-top: 5px;
  text-align: center;
  padding: 100px 0px 100px 0px;
}

#small-spongebob {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

#spongebob {
  font-size: 100px;
  color: rgb(84, 67, 232);
}

.bold {
  font-weight: 900;
}
